<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="layouts :: header">
</head>

<body>
<nav th:replace="layouts :: navbar"></nav>

<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">

            <div class="card my-5 border border-4 border-white bg-secondary">
                <form class="card-body cardbody-color p-lg-5" th:action="@{/cities/save}" th:object="${city}" method="POST">

                    <input type="hidden" th:field="${city.cityId}"/>
                    <input type="hidden" th:field="${city.cityNumberOfFacilities}"/>

                    <div class="text-center">
                        <img src="https://images.unsplash.com/photo-1449824913935-59a10b8d2000?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" class="img-fluid profile-image-pic img-thumbnail rounded my-3"
                             width="400px" alt="profile">
                        <h4 class="text-center text-light mt-2">Edit City</h4>
                    </div>
                    <br>


                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Name of the city?" required
                               th:field="${city.cityName}">
                    </div>

                    <div class="text-center"><button type="submit" class="btn btn-outline-light px-5 mb-5 w-100">Add</button></div>
                </form>
            </div>

        </div>
    </div>
</div>


<script th:replace="layouts :: jScriptFragment"></script>
<footer th:replace="layouts :: footer"></footer>
</body>

</html>
